# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])

In [4]:
# Set the date column as the DataFrame index
df = df.set_index(df['date'])
df.head()

                station       date  prcp  tobs
date
2010-01-01  USC00519397 2010-01-01  0.08    65
2010-01-02  USC00519397 2010-01-02  0.00    63
2010-01-03  USC00519397 2010-01-03  0.00    74
2010-01-04  USC00519397 2010-01-04  0.00    76
2010-01-06  USC00519397 2010-01-06   NaN    73

In [5]:
# Drop the date column
df = df.drop(columns='date')
df

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

### Compare June and December data across all years

In [6]:
from scipy import stats

In [7]:
# Filter data for desired months
jun_df = df[(df.index.month==6)]

dec_df = df[(df.index.month==12)]

In [8]:
# Identify the average temperature for June
jun_avg_temp = jun_df['tobs'].mean()
jun_avg_temp

74.94411764705882

In [9]:
# Identify the average temperature for December
dec_avg_temp = dec_df['tobs'].mean()
dec_avg_temp

71.04152933421226

In [10]:
# Create collections of temperature data
jun_list = jun_df['tobs'].tolist()
dec_list = dec_df['tobs'].tolist()

In [11]:
# Run paired t-test
stats.ttest_rel(jun_list, dec_list)

ValueError: unequal length arrays

### Analysis

In [11]:
# Run unpaired t-test to compare the temperature means between June and Dec 
stats.ttest_ind(jun_list, dec_list)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

In [12]:
# the difference is statistically significant as the p-value < 0.5